@charset "UTF-8";
/* CSS Document */

.normal {
    font-weight: normal;
    color: black;
    font: normal 100% sans-serif;
}

.issue-open {
    border-color: #E05252;
    background: #FBE9E9;
    padding: 0.5em;
    margin: 1em 0;
    position: relative;
    clear: both;
    border-left-width: .5em;
    border-left-style: solid;
}

.issue-pending {
    border-color: #FAF602;
    background: #F7F6BC;
    padding: 0.5em;
    margin: 1em 0;
    position: relative;
    clear: both;
    border-left-width: .5em;
    border-left-style: solid;
}

.issue-closed {
    border-color: #009900;
    background: #BCF7CF;
    padding: 0.5em;
    margin: 1em 0;
    position: relative;
    clear: both;
    border-left-width: .5em;
    border-left-style: solid;
}

.issue-title {
    padding-right: 1em;
    min-width: 7.5em;
    font-weight: bold;
}

.atrisk {
    padding: 1em;
    margin: 1em 0em 0em;
    border: 1px solid #f00;
    background: #ffc;
}

.atrisktext {
    /* content:    "Feature At Risk"; */
    display: block;
    width: 150px;
    margin: -1.5em 0 0.5em 0;
    font-weight: bold;
    border: 1px solid #f00;
    background: #fff;
    padding: 3px 1em;
}

.archaic {
    background-color: rgba(238, 185, 183, 0.6);
}

.citationLabel {
    font-weight: bold;
}

.citationTitle {
    font-style: italic;
}

.red {
    color: #FF0000;
}

.indent {
    margin-left: 2em;
}

body     {
           margin-left: 3pc;
           font-family: sans-serif,arial, helvetica;
}

ul.toc {
    list-style-type: none;
}

.conformance {
    background-color: #FFFFA0;
 }

.conformance-label {
    text-transform:     lowercase;
    font-variant:       small-caps;
    font-style:         normal;
    color:              #00B900;
 }

 table.conformance-table {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 3px;
    padding-bottom: 0px;
    vertical-align: top;
}

table.conformance-table td {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 2em;
    padding-top: 3px;
    padding-bottom: 0px;
    vertical-align: top;
}

table.conformance-table th {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 2em;
    padding-top: 4px;
    padding-bottom: 2px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
}

dl.spaced dt {
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: bold;

}
dl.spaced dd {
    margin-top: 4px;
    margin-bottom: 4px;
}

dd {
    padding-top: 5px;
    padding-bottom: 10px;
}

.normalText {
    color: black;
    font-family: inherit;
    font-size: 100%;
    font-weight: normal;
}

.red {
    color: #FF0000;
}
.indent {
    margin-left: 2em;
}

body     {
           margin-left: 3pc;
           font-family: sans-serif,arial, helvetica;
         }
ul.toc {
    list-style-type: none;
}

table.ruled {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 3px;
    padding-bottom: 0px;
    vertical-align: top;
}
table.ruled td {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 3px;
    padding-bottom: 0px;
    vertical-align: top;
}
table.ruled th {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 4px;
    padding-bottom: 2px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}


table.query {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 3px;
    padding-bottom: 0px;
    vertical-align: top;
}
table.query td {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 3px;
    padding-bottom: 0px;
    vertical-align: top;
}
table.query th {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 4px;
    padding-bottom: 2px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color:  #fff;
    background: #005a9c;
}

body > section {
    border-top: medium solid #666666;
    padding-top: 12px;
    margin-top: 16px;
}