<h2>Typographical Conventions and Use of RFC Terms</h2>
<p>
  As well as sections marked as non-normative, all authoring guidelines, diagrams, examples,
  and notes in this specification are non-normative. Everything else in this specification is
  normative.
</p>
<p>
  The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT",
  "RECOMMENDED", "NOT RECOMMENDED", "MAY", and "OPTIONAL"
  in this specification are to be interpreted as described in
  <a href="https://tools.ietf.org/html/bcp14">BCP 14</a>
  [[!RFC2119]] [[!RFC8174]]
  when, and only when, they appear in all capitals, as shown here.
</p>
