<div class='head'>
  <p class='logo'>
    {{#if prependOASIS}}
      <a href='https://www.oasis-open.org/'><img width='50%' src='https://github.com/oasis-open-projects/documentation/raw/master/img/open-project-logos/open-projects-logo.jpeg.jpg' alt='OASIS Open Projects' border='0'/></a>
      <hr/>
    {{/if}}
  </p>
  <h1 class='title' id='title'{{#if doRDFa}} property='dcterms:title'{{/if}}>{{title}}</h1>
  <h2>
    {{#if docStatus}}
    <span {{#if doRDFa}}property='bibo:subtitle' {{/if}}id='subtitle'>{{docStatus}}</span>
    {{/if}}
    {{#if publishHumanDate}}
    <span {{#if doRDFa}}property="dcterms:issued" datatype="xsd:dateTime" content="{{publishISODate}}"{{/if}}>(<time class='dt-published' datetime='{{dashDate}}'>{{publishHumanDate}}</time>)</span>
    {{/if}}
  </h2>
  <dl>
    <dt><span class='loc-heading' style='font-size: 125%'>Specification URIs</span></dt>
  </dl>
  <dl>
    {{#unless isNoTrack}}
      <br/><dt class='loc-heading'>This revision:</dt>
      <dd><a class='u-url' href='{{thisVersion}}'>{{thisVersion}}</a><br>
        {{#if showPDF}}<a class='u-url' href='{{thisPDFVersion}}'>{{thisPDFVersion}}</a>{{/if}}</dd>
        {{#if showPreviousVersion}}
          <br/><dt class='loc-heading'>Previous revision:</dt>
          <dd>
            <a {{#if doRDFa}}rel="dcterms:replaces"{{/if}} href='{{prevVersion}}'>{{prevVersion}}</a><br>
            <a {{#if doRDFa}}rel="dcterms:replaces"{{/if}} href='{{prevPDFVersion}}'>{{prevPDFVersion}}</a>
            {{#if previousDocStatus}}
              <br/>(published as {{previousDocStatus}}{{#if previousPublishHumanDate}} on {{previousPublishHumanDate}}{{/if}})
            {{/if}}
          </dd>
        {{/if}}
      {{#if latestVersion}}
      <br/>
      <dt class='loc-heading'>Latest stage:</dt>
      <dd><a href='{{latestVersion}}'>{{latestVersion}}</a> (Authoritative)</dd>
      {{/if}}
      {{#if latestSpecVersion}}
      <br/>
      <dt class='loc-heading'>Latest version:</dt>
      <dd><a href='{{latestSpecVersion}}'>{{latestSpecVersion}}</a></dd>
      {{/if}}
    {{/unless}}
    {{#if edDraftURI}}
      <br/><dt class='loc-heading'>Latest editor's draft:</dt>
      <dd><a href='{{edDraftURI}}'>{{edDraftURI}}</a></dd>
    {{/if}}
    {{#if testSuiteURI}}
      <br/><dt class='loc-heading'>Test suite:</dt>
      <dd><a href='{{testSuiteURI}}'>{{testSuiteURI}}</a></dd>
    {{/if}}
    {{#if implementationReportURI}}
      <br/><dt class='loc-heading'>Implementation report:</dt>
      <dd><a href='{{implementationReportURI}}'>{{implementationReportURI}}</a></dd>
    {{/if}}
    {{#if wg}}
      <br/><dt class='loc-heading'>Open Project:</dt>
      <dd><a href='{{wgURI}}'>{{wg}}</a></dd>
    {{/if}}
    {{#if chairs}}
      <br/><dt class='loc-heading'>Project Chair{{#if multipleChairs}}s{{/if}}:</dt>
      {{showPeople "Chair" chairs}}
    {{/if}}
    <br/><dt class='loc-heading'>Editor{{#if multipleEditors}}s{{/if}}:</dt>
    {{showPeople "Editor" editors}}
    {{#if authors}}
      <br/><dt class='loc-heading'>Author{{#if multipleAuthors}}s{{/if}}:</dt>
      {{showPeople "Author" authors}}
    {{/if}}
    {{#if otherLinks}}
      {{#each otherLinks}}
        {{#if key}}
          <br/><dt  class='loc-heading'>{{key}}:</dt>
          {{#if data}}
             {{#each data}}
                {{#if value}}
                  <dd {{#if class}}class="{{class}}"{{/if}}>
                    {{#if href}}<a href="{{href}}">{{/if}}
                      {{value}}
                    {{#if href}}</a>{{/if}}
                  </dd>
                {{else}}
                  {{#if href}}
                    <dd><a href="{{href}}">{{href}}</a></dd>
                  {{/if}}
                {{/if}}
             {{/each}}
          {{else}}
            {{#if value}}
              <dd {{#if class}}class="{{class}}"{{/if}}>
                {{#if href}}<a href="{{href}}">{{/if}}
                  {{value}}
                {{#if href}}</a>{{/if}}
              </dd>
            {{else}}
              {{#if href}}
                <dd {{#if class}}class="{{class}}"{{/if}}>
                  <a href="{{href}}">{{href}}</a>
                </dd>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}
    {{#if additionalArtifacts}}
     <br/><dt class='loc-heading'>Additional components:</dt>
     <dd>This specification is one component of a Work Product that also includes:
     <ul>
     {{#each additionalArtifacts}}
       <li>
       {{#if title}}<span class='citationTitle'>{{title}}</span>.{{/if}}
       {{#if href}}<a href='{{href}}'>{{href}}</a>{{/if}}
       </li>
     {{/each}}
     </ul></dd>
    {{/if}}
    {{#if supersedes}}
     <br/><dt class='loc-heading'>Related work:</dt>
     <dd>This specification replaces or supersedes:
     <ul>
     {{#each supersedes}}
       <li>
       {{#if title}}<span class='citationTitle'>{{title}}</span>.{{/if}}
       {{#if href}}<a href='{{href}}'>{{href}}</a>{{/if}}
       </li>
     {{/each}}
     </ul></dd>
    {{/if}}
    {{#if relatedWork}}
     {{#unless supersedes}}<br/><dt class='loc-heading'>Related work:</dt>{{/unless}}
     <dd>This specification is related to:
     <ul>
     {{#each relatedWork}}
       <li>
       {{#if style}}<div class='{{style}}'>{{/if}}
       {{#if title}}<span class='citationTitle'>{{title}}</span>.{{#if status}} {{status}}: {{/if}}{{/if}}
       {{#if href}}<a href='{{href}}'>{{href}}</a>{{/if}}
       {{#if style}}</div>{{/if}}
       </li>
     {{/each}}
     </ul></dd>
    {{/if}}
    {{#if namespaces}}
     <br/><dt class='loc-heading'>RDF Namespaces:</dt>
     {{#each namespaces}}
       {{#if href}}
          <dd><a href='{{href}}'>{{href}}</a></dd>
       {{/if}}
     {{/each}}
    {{/if}}
    <br><dt class='loc-heading'>Abstract:</dt>
    <dd>{{{shortAbstract}}}</dd>
    <br/><dt class='loc-heading'>Status:</dt>
    <dd>{{{status}}}</dd>
    {{#if citationLabel}}<br/><dt class='loc-heading'>Citation format:</dt>
    <dd>When referencing this specification the following citation format should be used:
    <p>
    <span class='citationLabel'><strong>[{{citationLabel}}]</strong></span><br>
    <span class='citationTitle'>{{title}}</span>.
    Edited by {{editorsHTML}}.
    {{publishHumanDate}}.
    {{#if prependOASIS}}OASIS {{/if}} {{textStatus}} {{label}}.
    {{#if thisVersion}}<br><a class='u-url' href='{{thisVersion}}'>{{thisVersion}}</a>.{{/if}}
    {{#if latestVersion}}<br>Latest version: <a href='{{latestVersion}}'>{{latestVersion}}</a>.{{/if}}
    </p>
    </dd>{{/if}}
  </dl>
  {{#if errata}}
    <p>
      Please refer to the <a href="{{errata}}"><strong>errata</strong></a> for this document, which may include some normative corrections.
    </p>
  {{/if}}
  {{#if alternateFormats}}
    <p>
      {{#if multipleAlternates}}
        This document is also available in these non-normative formats:
      {{else}}
        This document is also available in this non-normative format:
      {{/if}}
      {{{alternatesHTML}}}
    </p>
  {{/if}}
  {{#if isStd}}
    <p>
      The English version of this specification is the only normative version. Non-normative
      translations may also be available.
    </p>
  {{/if}}
</div>
