{{#if isUnofficial}}
  <p>
    This document is merely a public working draft of a potential project specification. It has
    no official standing of any kind and does not represent the support or consensus of any
    standards organization.
  </p>
  {{{sotdCustomParagraph}}}
{{else}}
  {{#if isNoTrack}}
    <p>
      This document is merely a project-internal {{#if isMO}}member-confidential{{/if}} document. It
      has no official standing of any kind and does not represent consensus of the project
      membership.
    </p>
    {{{sotdCustomParagraph}}}
  {{else}}
    <p>This is an OASIS Open Project {{noProjectStatus}}.</p>
    <p class='red'>Note: the URIs for committees, mailing lists, etc., need to be reviewed.</p>
    <p>
      This document was last revised or approved by the {{{wgHTML}}} on the above date.
      The level of approval is also listed above.
      Check the “Latest version” location noted above for possible later revisions of this document.
      Any other numbered Versions and other technical work produced by the Open Project are listed at
      <a href='{{tcBaseURI}}/tc_home.php?wg_abbrev={{wgShortName}}#technical'>
      {{tcBaseURI}}/tc_home.php?wg_abbrev={{wgShortName}}#technical</a>.
    </p>
    <p>
      Project members should send comments on this specification to the project's email list.
      Others should send comments to the project’s public comment list
      <a href='{{tcBaseURI}}/comments/index.php?wg_abbrev={{wgShortName}}'>{{wgPublicList}}@lists.oasis-open.org</a>,
      after subscribing to it by following the instructions at the “Send A Comment” button on the project’s web page at
      <a href='{{tcBaseURI}}/{{wgShortName}}/'>{{tcBaseURI}}/{{wgShortName}}/</a>.
    </p>
    <p>
      Note that any machine-readable content
      (<a href="https://www.oasis-open.org/policies-guidelines/tc-process#wpComponentsCompLang">Computer Language Definitions</a>)
      declared Normative for this Work Product is provided in separate plain text files.
      In the event of a discrepancy between any such plain text file and display content
      in the Work Product's prose narrative document(s), the content in the separate plain text file prevails.
    </p>
    {{{sotdCustomParagraph}}}
    {{#if implementationReportURI}}
      <p>
        Please see the Open Project's <a href='{{implementationReportURI}}'>implementation report</a>.
      </p>
    {{/if}}
  {{/if}}
{{/if}}
